:root {
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-200: hsl(185, 75%, 39%);
  --clr-primary-400: hsl(229, 23%, 23%);
  --clr-primary-800: hsl(227, 10%, 46%);

  --clr-neutral-100: hsl(0, 0%, 59%);
  --clr-neutral-200: hsla(228, 9%, 92%, 1);

  --ff-primary: 'Kumbh Sans', sans-serif;

  --ff-body: var(--ff-primary);

  --fw-400: 400;
  --fw-700: 700;

  --fs-200: .625rem;
  --fs-300: .875rem;
  --fs-500: 1.125rem;

  --size-100: 1.0625rem;
  --size-200: 1.375rem;
}

/* extra reset */

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

/* general styling */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary-200);
  font-family: var(--ff-body);
  color: var(--clr-primary-800)
}

.pattern {
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.top {
  bottom: calc(50% - 30px);
  right: calc(50% - 40px);
}

.bottom {
  top: calc(50% - 30px);
  left: calc(50% - 40px);
}

main {
  position: relative;
  min-width: 325px;
  height: 375px;
  border-radius: 15px;
  background-color: var(--clr-primary-100);
  box-shadow: 0px 50px 100px -20px var(--clr-primary-800);
}

@media (min-width: 1440px) {
  main {
    width: 350px;
  }
}

.card-background {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 148px;
  width: 100%;
  overflow: hidden;
  background-image: url('images/bg-pattern-card.svg');
  background-size: 350px 148px;
  background-position: -15px 0px;
}

.avatar {
  position: absolute;
  left: calc(50% - 96px/2);
  top: calc(50% - 96px/2 - 47px);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border:var(--clr-primary-100) solid 5px;
  background-image: url('images/image-victor.jpg');
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

h3 {
  color: var(--clr-primary-400);
  font-weight: var(--fw-700);
  line-height: var(--size-200);
}

.name {
  margin-bottom: 8px;
}

.age {
  font-weight: var(--fw-400);
  color: var(--clr-primary-800)
}

.city {
  font-size: var(--fs-300);
  line-height: var(--size-100);
  margin-bottom: 24px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--clr-neutral-200);
  margin-bottom: 24px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 24px;
  text-align: center;
}

.stat h3 {
  margin-bottom: 9px;
}

.stat p {
  font-size: var(--fs-200);
  letter-spacing: 1.5px;
}